body {
    font-family: Arial;
}

h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.hoje {
    color: darkred;
    font-weight: bold;
}

.amanha {
    color: darkblue;
    font-style: italic;
}

a {
    text-decoration: none;
}

.menu {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 2em;
    color: black;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 a {
    color: seagreen;
    
}   

img {
    max-width: 10%;
    height: auto;
    margin: 0 auto 20px;}