body {   
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {   
    
    text-align: center;   
}

h2 {   
    margin: 0px; 
}

.item {   
    background-color: black; 
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

span {   
    font-weight: bold;   
    color: #febe01; 
}

p {   
    color: #b2b2b2;
    
}

a {   
    display: inline-block;
    background-color: #febe01;  
    color: #332200 ; 
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
}

footer {   
    text-align: center ;
    font-size: 0.8em;   
    color: #777;   
    margin-top: 20px;
    align-items: bottom;
    
}